.bg-grey
{
    background-color:#929ea8;
}

.margin-top
{
    margin-top: 1%
}
.margin-bottom
{
    margin-bottom: 1%;
}

.navbar-nav 
{
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.nav-item 
{
    display: inline-block;
    float:none;
}


.border
{
    border-radius: 25px;
}
.blogMaxHeight
{
    height: 10%;
}

.homePageImage
{
    overflow: hidden;
    max-height: 25%;
}

.homePageImage > img
{
    overflow: hidden;
    margin-top: 1%;
    clip-path: inset(15% 0 0 0);
    transform: translate(0%,-15%);
}
.postImage20
{
    height: 20%;
    
}

.whiteText
{
    color: #ffffff;
}
